header {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-end;
  width: 100%;
  padding: 1.5rem;
  border-bottom: rgb(238, 235, 235) solid 0.1rem;
  background-color: white;

  @media (max-width:64em){
  flex-direction: column;
  padding: 1rem 2rem;
  height: 18rem;
 
}

  .logo {
    background-image: url(/img/logo1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 6.5rem;
    width: 25rem;
    padding: 0rem;
    

    @media (max-width: 64em) {
      top: 2rem;
      position: absolute;
      left: 10rem;
      height: 7.5rem;
      width: 30rem;
      z-index: 9999999;
    }

    @media (max-width: 23.4em) {
      left: 7rem;
    }
  
  }
  .search-bar {
    border: solid 0.1rem rgb(228, 224, 224);
    outline: none;
    height: 4.4rem;
    width: 50%;
    border-radius: 0.4rem;

    @media (max-width: 64em) {
     width: 100%;
     position: relative;
     top: 2.6rem;
     height: 5rem;
    }
  
  }

  .btn {
    left: -3.2rem;
    padding: 0rem 3.2rem;
    outline: none;
    height: 4.4rem;
    text-decoration: none;
    background-color: rgb(255, 8, 0);
    border: none;
    box-shadow: 0 0.3rem 0.9rem -0.5rem rgba(0, 0, 0, 0.493);
    position: relative;
    border-radius: 0.4rem;
    transition: 0.3s ease;
    cursor: pointer;

    @media (max-width:64em){
     display: none;
  }
  }
  .btn:hover {
    background-color: rgb(199, 7, 0);
  }

  .btn:active {
    transform: scale(0.97);
  }

  .btn-text {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
  }


  .icon-box {
    display: flex;
    padding: 0.8rem;

    
    @media (max-width: 64em) {
      right: 0rem;
      display: flex;
      /* width: 8rem; */
      top: 3.5rem;
      position: absolute;
    }
  }

  .cart-amount {
    position: relative;
    height: 2.4rem;
    width: 2.4rem;
    background-color: rgb(255, 8, 0);
    border-radius: 50%;
    top: -0.8rem;
    right: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-figure {
    font-weight: 600;
    color: white;
    font-size: 1.5rem;
  }

  .icon-text{
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.735);
    @media (max-width:64em){
      display: none;
   }
  }

  .icon {
    height: 2.8rem;
    width: 2.8rem;
    margin: 0rem 1.6rem;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width:64em){
      height: 3.8rem;
      width: 3.8rem;
      margin: 0;
   }
  }

  .icon-1 {
    background-image: url(/img/user.svg);
  }

  .icon-2 {
    background-image: url(/img/iconfinder_shopping-cart_2561279.svg);
  }
}



// .navigation {
//   @media (max-width: 64em) {
//     display: inline-block;
//   }

//   &__checkbox {
//     display: none;
//   }

 

//   &__checkbox:checked ~ &__nav {
//     opacity: 1;
//     width: 50%;
//   }

//   &__checkbox:checked + &__button &__icon {
//     background-color: transparent;
//   }

//   &__checkbox:checked + &__button &__icon::before {
//     top: 0rem;
//     transform: rotate(45deg);
//     background-color: rgb(0, 0, 0);
//   }

//   &__checkbox:checked + &__button &__icon::after {
//     transform: rotate(-45deg);
//     top: 0rem;
//     background-color: rgb(0, 0, 0);
//   }



  // &__icon {
  //   position: relative;
  //   margin-top: 4.5rem;
    

//     &,
//     &::before,
//     &::after {
//       width: 2rem;
//       height: 0.2rem;
//       background-color: rgb(0, 0, 0);
//       display: inline-block;
//       position: relative;
//       top:-2rem;
//       border-radius: 5rem;
//     }

//     &::before,
//     &::after {
//       content: "";
//       position: absolute;
//       left: 0;
//       transition: all 0.1s;
//       border-radius: 5rem;
//     }

//     &::before {
//       top: -.7rem;
//     }

//     &::after {
//       top: .7rem;
//     }
//   }
// }

.big{
  position: fixed;
  width: 75%;
  top: 7.5rem;
  height: 110vh;
  animation: moveinleft 0.5s ease-in-out;
  transition: ease 0.5s;
  z-index: 9999999999;
  left: 0rem;
  display: none;
 
}
  
.sidemenu{
  width: 100%;
  padding: 1rem;
  // background-color: #ffe7ba;
  background-color: white;
  height: 110vh;

  &__close{
    background-color: black;
    height: .2rem;
    width: 3rem;
    position: relative;
    top:1.5rem;
    float: left;
    left: .5rem;
    display: block;
    cursor: pointer;
    z-index: 99999;
    display: none;

    @media(max-width:64em){
      display: block;
    }
  }

  &__close::before,&__close::after{
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.1s;
    border-radius: 5rem;
    height: .2rem;
    width: 3rem;
    background-color: black;
  }


  &__close::before {
    top: -.7rem;
  }

  &__close::after {
    top: .7rem;
  }
 
  &__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  &__logo{
    // background-image: url(/img/logo1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 50%;
    height: 3.5rem;
    display: block;
    margin-bottom: .5rem;
    align-self: center;
  }
  &__header{
    color: rgb(255, 0,0);
    font-weight: 600;
    padding: 0.5rem 0rem;
    border-top: solid rgb(216, 216, 216) 0.001rem;
    font-size: 1rem;
    // margin-top: 2rem;


  }
  &__items{
    list-style: none;
    
    
  }
  &__links{
    padding: 1rem 0rem;
    border-bottom: solid rgb(216,216,216) 0.001rem;
    cursor: pointer;
    display: block;
    font-size: 2rem;

    &:nth-child(4){
    margin-bottom: 2rem;
    }
  }

  &__checkbox{
    display: none;
  }


  &__social{
    width: 100%;
    display: flex;
    
  }
  &__social-icon{
    width: 4rem;
    height: 4rem;
  }
  &__droplist{
    padding: .5rem 1.5rem;
    list-style: none;
    display: none;
  }

  
  &__droplinks{
    list-style: none;
    padding: .5rem 2rem;
    margin-bottom: 0rem;
    font-size: 1.5rem;
  }

}

span{
  color: #ce0000;
  font-size: .7rem;
  position: relative;
  float: right;
}  



#checkbox1:checked + .sidemenu__droplist-1{
  display: block;
}
#checkbox2:checked + .sidemenu__droplist-2{
  display: block;
}
#checkbox3:checked + .sidemenu__droplist-3{
  display: block;
}

#close1:checked + .big{
  display: block;
}


.close{
  display: none;
}

@keyframes moveinleft{
  0%{left: -100rem;

  }
  50%{
    left: -50rem;

  }
  100%{
    left: 0;
  }
}
