.food{
    height: 45vh;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: flex-end;
    align-content: center;
    background-image: url(/img/basket-with-vegetables.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width:76.8em){
        height: 30vh;
    }

    &__container{
        width: 20%;
        text-align: right;
        top: 4rem;
        right: 12rem;
        position: relative;
        
    @media (max-width:76.8em){
        width: 33%;
        right: 1rem;
    }
        
    }
    &__header{
        font-size: 5rem;
        font-weight: 600;
    }
        
    &__header-small{
        font-size: 1.5rem;
    }
}

.main{
    width: 100%;
    display: flex;
    padding: 3rem;
    justify-content: center;
    box-shadow: 0 0 0.9rem -0.5rem rgba(0, 0, 0, 0.493);
    align-items: flex-start;
    @media (max-width:76.8em){
        padding: 0rem;
    }
}

 
.big{
    position: relative;
    width: 32%;
    animation: moveinleft 0.5s;
    transition: ease 0.5s;

    @media (max-width:64em){
       display: none;
  }
}
    
  .productslide{
    width: 100%;
    padding: 1rem;
  
    &__close{
      background-color: crimson;
      height: 1.5rem;
      width: 1.5rem;
      position: relative;
      top:.5rem;
      float: left;
      left: .5rem;
      display: block;
      cursor: pointer;
      z-index: 99999;
    }
  
    &__container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: 100%;
    background-color: rgb(255, 196, 0);

    }
  
   
    &__header{
      color: rgb(255, 0,0);
      font-weight: 600;
      padding: 0.5rem 0rem;
      border-top: solid rgb(216, 216, 216) 0.001rem;
  
  
    }
    &__items{
      list-style: none;
      
      
    }
    &__links{
      padding: 1rem 0rem;
      border-bottom: solid rgb(216,216,216) 0.001rem;
      cursor: pointer;
      display: block;
  
      &:nth-child(4){
      margin-bottom: 2rem;
      }
    }
  
    &__checkbox{
      display: none;
    }
 
    &__social-icon{
      width: 2rem;
    }
    &__droplist{
      padding: .5rem 1.5rem;
      list-style: none;
      display: none;
    }
  
    
    &__droplinks{
      padding: .5rem 0rem;
      margin-bottom: 0rem;
    }
  
  }
  
  span{
    color: #ce0000;
    font-size: .7rem;
    position: relative;
    float: right;
  }  
  
  
  
  #checkbox1:checked + .productslide__droplist-1{
    display: block;
  }
  #checkbox2:checked + .productslide__droplist-2{
    display: block;
  }
  #checkbox3:checked + .productslide__droplist-3{
    display: block;
  }
  
  #close1:checked + .big{
    display: block;
  }
  
  .close{
    display: none;
  }
  
  @keyframes moveinleft{
    0%{left: -100rem;
  
    }
    50%{
      left: -50rem;
  
    }
    100%{
      left: 0;
    }
  }
  
    



    

    .mainproduct{

        width: 70%;
        border-radius: .4rem;
        border: solid 0.1rem rgb(228, 224, 224);
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 0.9rem -0.5rem rgba(0, 0, 0, 0.493);
        background-color: white;

        @media (max-width:76.8em){
            width: 100%;
        }
    


        &__top{
            display: flex;
            justify-content: space-between;
             border-bottom: solid 0.1rem rgb(228, 224, 224);

        }

        &__header{
            font-size: 2.5rem;
            font-weight: 500;
        }
        &__header,.sort,.sort-box{
            padding: 1.5rem;
        }

        &__sort-container{
            display: flex;
            font-size: 1rem;
            // background-color: yellow;
            width: 40%;
            justify-content: flex-end;
          
        }
        &__sort{
            align-self: center;
            margin-right: .5rem;
            font-size: 1.4rem;
        }
        &__sort-box{
            align-self: center;
            width: 40%;
            border: solid 0.1rem rgb(228, 224, 224);
            margin-right: 2rem;
            height: 3rem;
            border-radius: .4rem;
        }

        .goods{
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            padding: 1rem;
            width: 100%;
            overflow: hidden;

            &__container{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-content: center;
                width: 25%;
                position: relative;
                margin: 1rem;
                @media (max-width:76.8em){
                    width: 27%;
                }
              }

              &__image{
          
                height: 18rem;
                width: 19.5rem;
                display: block;
                transition: ease 0.5s;
                align-self: center;
                &:hover{
                    transform: scale(1.07);
                }
                font-size: 1.8rem;
                font-weight: 500;
                
            }
            
            &__name, &__price{
                text-align: center;
                margin: 0.3rem;
            }
          
            &__name{
             
                font-size: 1.8rem;
                font-weight: 500;
            }

            &__price{
             font-size: 1.8rem;
             color: rgb(255, 0, 0);
             @media (max-width:76.8em){
                font-size: 1.2rem
                ;
            }
            }

            &__add-basket-btn{
    
                margin: 0.3rem;
                padding:1.2rem .1rem ;
                background-color:#ffe7ba ;
            }
            
            &__add-basket-text{
                text-decoration: none;
                color: black;
                font-size: 1.3rem;
                font-weight: 600;
            }
        }
    }

    
    .product-found{
        width: 100%;
        border-bottom: solid 0.1rem rgb(228, 224, 224);
        align-self: center;
        padding: 1rem;
        font-size: 1.4rem;

    }

    
   